# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
cache: packages
warnings_are_errors: true

os:
  - linux
  - osx

r:
  - 4.0.3
  - release
  #- devel

r_packages:
  - covr

after_success:
  - Rscript -e 'library(covr); codecov(types = "all")'

